<div class="side-menu">
  <div class="logo">
    <label>Adminty</label>
  </div>
  <div class="all-menu">
    <label>Navigation</label>
    <div class="menu dashboard">
      <label><i class="fa-solid fa-house"></i> Dashboard</label>
      <i class="fa-solid fa-caret-down"></i>
    </div>
    <div class="sub-menu">
      <div class="menu default">
        <label><i class="fa-solid fa-caret-right"></i>Default</label>

      </div>
      <div class="menu crm">
        <label><i class="fa-solid fa-caret-right"></i>CRM</label>

      </div>
      <div class="menu analytics">
        <label><i class="fa-solid fa-caret-right"></i>Analytics</label>
        <div class="right-side">
          <label class="badge blue">NEW</label>
          <i style="visibility: hidden" class="fa-solid fa-caret-right"></i>
        </div>
      </div>
    </div>
    <div class="menu page-layout">
      <label><i class="fa-solid fa-file"></i> Page layouts</label>
      <div class="right-side">
        <label class="badge orange">NEW</label>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </div>
    <div class="menu navigation">
      <label><i class="fa-solid fa-bars"></i> Navigation</label>
    </div>
    <div class="menu widget">
      <label><i class="fa-solid fa-bars"></i> Widget</label>
      <div class="right-side">
        <label class="badge red">100+</label>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </div>
    <label>UI ELement</label>
    <div class="menu basic-components">
      <label><i class="fa-solid fa-house"></i> Basic Components</label>
      <i class="fa-solid fa-caret-right"></i>
    </div>
    <div class="menu advance-components">
      <label><i class="fa-solid fa-house"></i> Advance Components</label>
      <i class="fa-solid fa-caret-right"></i>
    </div>
    <div class="menu extra-components">
      <label><i class="fa-solid fa-house"></i> Extra Components</label>
      <i class="fa-solid fa-caret-right"></i>
    </div>
    <div class="menu">
      <label><i class="fa-solid fa-house"></i> Animations</label>
    </div>
    <div class="menu">
      <label><i class="fa-solid fa-bars"></i>   Sticky Notes</label>
      <div class="right-side">
        <label class="badge red">HOT</label>
        <i style="visibility: hidden" class="fa-solid fa-caret-right"></i>
      </div>
    </div>
    <div class="menu">
      <label><i class="fa-solid fa-house"></i> Icons</label>
      <i class="fa-solid fa-caret-right"></i>
    </div>
    <label>Forms</label>
    <div class="menu">
      <label><i class="fa-solid fa-house"></i> Form Components</label>
      <i class="fa-solid fa-caret-right"></i>
    </div>
    <div class="menu">
      <label><i class="fa-solid fa-file"></i> Form Picker</label>
      <div class="right-side">
        <label class="badge orange">NEW</label>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </div>
    <div class="menu">
      <label><i class="fa-solid fa-house"></i> Form Select</label>
    </div>
    <div class="menu">
      <label><i class="fa-solid fa-house"></i> Form Masking</label>
    </div>
  </div>
</div>
