.total{
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.18);
  background-color: white;
  .total-body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #09C885;
    height: 290px;
  }
  .total-footer{
    padding: 10px 20px;
    .footer-group{
      display: flex;
      justify-content: space-around;
      div {
        width: 100%;
      }
      p{
        text-align: center;
        margin: 0;
        color: #8e8e90;
        font-size: 14px;
        &.value{
          font-size: 18px;
          color: black;
          font-weight: bold;
          margin-top: 10px;
        }
      }
    }
    .footer-title{
      p{
        color: #8e8e90;
        font-size: 14px;
      }
    }
  }
}
.border-left{
  border-left: 1px solid #d3d3d8;
}
