.container {
  display: flex;

  .header-side {
    width: 100%;
    display: flex;
    flex-direction: column;

    .content {
      padding: 30px;
      height: calc(100vh - 70px);
      overflow: auto;
    }
  }

  .left-side {
  }
}
